*{
margin: 0;
padding: 0;
Font-family: Arial;
line-height: 140%;
box-sizing: border-box;
}

body{
  background-color: #F2F2F2;
  box-sizing: border-box;
}

Header{
  text-align: center;
  background-color: #3c4a81;
  color: #F0F0F0;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  font-size: 50px;
  width: fit-content;
  box-shadow: #C7C7C7 3px 10px 15px;
}

 Header span {
  font-size: 20px;
	  
 }

.dropdown-img {
box-shadow: #C7C7C7 3px 10px 15px;
  width: 130px;
  height: 130px;
  border: 1px solid black;
  cursor: pointer;
  margin: -300px auto 0 1100px;
}

.dropdown-menu a {
display: block;
color: black;
padding: 10px 15px;
text-decoration: none;
}

.dropdown-items {
display: none;
background-color: #B4BCD0;
position: absolute;
min-width: 100px;
box-shadow: 2px 2px 5px black;
margin: -5px auto 0 1110px;
}

.dropdown-menu:hover .dropdown-items{
display: block;
}

.dropdown a:hover {
background-color: #C6C9D2;  
}

H2 {
margin-bottom: 9px;	
}


.article-img {
  width: 210px;
  height: 130px;
  border: 1px solid black;
  margin: 10px 0;
  margin-bottom: 0px;
}

.left-article{
  background-color: #3c4a81;
  color: white;
  border-radius: 20px;
  margin: 20px;
  width: 420px;
  padding: 10px;
  box-shadow: #C1C1C1 3px 10px 15px ;
  word-wrap: break-word;
}

.right-article{
  background-color: #3c4a81;
  color: white;
  border-radius: 20px;
  margin: 20px;
  width: 420px;
  padding: 10px;
  box-shadow: #C1C1C1 3px 10px 15px ;
  word-wrap: break-word;
}

.left-article::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #3c4a81;
}

.right-article::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #3c4a81;
}

.left-article @media only screen and (min-width: 450px) {
	flex-wrap: wrap;
}

.right-article @media only screen and (min-width: 450px) {
	flex-wrap: wrap;
  margin-left: auto;
  margin-right: 40px;
}

.nieuws-section {
    display: flex;
    flex-direction: column;
	align-self: center;
	justify-content: center;
	
}